Repository The-Skyy-Rose-Collection-LLC/DevSkyy: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, jest-collections

Path conditions:
  typescript-typecheck: any of: \.(ts|tsx)$
  jest-collections: any of: ^src/collections/.*\.(ts|tsx)$

feat(assets): improve HuggingFace setup with comprehensive env check
  .env.example
  scripts/enhance_assets_huggingface.py
Due: none

Add Vercel Speed Insights to Next.js
  frontend/app/layout.tsx
  frontend/package-lock.json
  frontend/package.json
Due: typescript-typecheck

fix(huggingface): update API endpoint to router.huggingface.co
  orchestration/huggingface_3d_client.py
  orchestration/huggingface_asset_enhancer.py
Due: none

feat(threejs): add production-grade 3D asset loading and performance monitoring
  .pre-commit-config.yaml
  config/testing/jest.config.cjs
  public/draco/README.md
  public/draco/draco_decoder.js
  public/draco/draco_decoder.wasm
  public/draco/draco_encoder.js
  public/draco/draco_wasm_wrapper.js
  src/collections/BaseCollectionExperience.ts
  src/collections/BlackRoseExperience.ts
  src/collections/LoveHurtsExperience.ts
  src/collections/ProductionHandlers.ts
  src/collections/RunwayExperience.ts
  src/collections/ShowroomExperience.ts
  src/collections/SignatureExperience.ts
  src/collections/index.ts
  src/config/threejs.config.ts
  src/lib/ModelAssetLoader.ts
  src/lib/ThreePerformanceMonitor.ts
  src/lib/three/index.ts
  tests/__mocks__/three-examples.js
  tests/__mocks__/three.js
Due: typescript-typecheck, jest-collections

feat(virtual-tryon): implement production-grade virtual try-on pipeline
  api/__init__.py
  api/virtual_tryon.py
  devskyy_mcp.py
  main_enterprise.py
  tests/test_virtual_tryon.py
Due: none

fix(tests): configure Jest mocks for three.js ESM modules
  __mocks__/three.cjs
  __mocks__/three/examples/jsm/controls/OrbitControls.js.cjs
  __mocks__/three/examples/jsm/postprocessing/BokehPass.js.cjs
  __mocks__/three/examples/jsm/postprocessing/EffectComposer.js.cjs
  __mocks__/three/examples/jsm/postprocessing/OutputPass.js.cjs
  __mocks__/three/examples/jsm/postprocessing/RenderPass.js.cjs
  __mocks__/three/examples/jsm/postprocessing/UnrealBloomPass.js.cjs
  config/testing/jest.config.cjs
  src/lib/__mocks__/ModelAssetLoader.js
  tests/__mocks__/three-examples.cjs
  tests/__mocks__/three.cjs
  tests/setup-three-mocks.cjs
Due: none

chore: remove dead dev-skyy Vercel deployment config
  vercel.json
Due: none

fix: address code review issues and remove unused imports
  api/virtual_tryon.py
  runtime/tools.py
  tests/test_security.py
  tests/test_virtual_tryon.py
Due: none

fix(security): Critical security and code quality fixes
  api/virtual_tryon.py
  orchestration/asset_pipeline.py
  orchestration/huggingface_asset_enhancer.py
  src/collections/ShowroomExperience.ts
  src/collections/__tests__/CollectionExperiences.test.ts
  src/lib/ModelAssetLoader.ts
  src/lib/ThreePerformanceMonitor.ts
  tests/test_huggingface_3d.py
  tests/test_virtual_tryon.py
  wordpress/auth_config.py
  wordpress/production_config.py
Due: typescript-typecheck, jest-collections

feat(phases-11-15): implement AI 3D generation, catalog sync, and admin dashboard
  ai_3d/__init__.py
  ai_3d/model_generator.py
  ai_3d/virtual_photoshoot.py
  api/admin_dashboard.py
  api/ai_3d_endpoints.py
  api/sync_endpoints.py
  frontend/app/admin/page.tsx
  frontend/app/admin/products/page.tsx
  imagery/__init__.py
  imagery/model_fidelity.py
  main_enterprise.py
  sync/__init__.py
  sync/catalog_sync.py
  tests/test_admin_dashboard_api.py
  tests/test_ai_3d_api.py
  tests/test_ai_3d_generator.py
  tests/test_catalog_sync.py
  tests/test_model_fidelity.py
  tests/test_sync_api.py
  tests/test_threed_viewer_plugin.py
  tests/test_virtual_photoshoot.py
  wordpress/threed_viewer_plugin.py
Due: typescript-typecheck

feat(3d): Add WordPress plugin with 95% fidelity validation
  ai_3d/__init__.py
  ai_3d/generation_pipeline.py
  ai_3d/providers/__init__.py
  ai_3d/providers/huggingface.py
  ai_3d/providers/tripo.py
  ai_3d/quality_enhancer.py
  api/elementor_3d.py
  errors/__init__.py
  errors/production_errors.py
  gradio_3d_app.py
  imagery/__init__.py
  imagery/image_processor.py
  imagery/model_fidelity.py
  imagery/virtual_photoshoot.py
  tests/test_model_fidelity.py
  wordpress/plugins/skyyrose-3d-experience/assets/css/skyyrose-3d.css
  wordpress/plugins/skyyrose-3d-experience/assets/js/skyyrose-3d-experiences.js
  wordpress/plugins/skyyrose-3d-experience/includes/elementor/class-skyyrose-3d-widget.php
  wordpress/plugins/skyyrose-3d-experience/skyyrose-3d-experience.php
Due: none

fix(security): harden CORS, fix class alias bug, align tests
  .github/workflows/ci.yml
  ai_3d/model_generator.py
  api/admin_dashboard.py
  api/index.py
  main_enterprise.py
  scripts/deploy_wordpress_pages.py
  tests/test_admin_dashboard_api.py
  tests/test_ai_3d_generator.py
  tests/test_threed_viewer_plugin.py
Due: none

fix(tests): refactor test suite to match current API
  tests/test_admin_dashboard_api.py
  tests/test_ai_3d_api.py
  tests/test_ai_3d_generator.py
  tests/test_catalog_sync.py
  tests/test_model_fidelity.py
  tests/test_sync_api.py
  tests/test_threed_viewer_plugin.py
  tests/test_virtual_photoshoot.py
Due: none

feat(wordpress): WordPress.com API compatibility + SkyyRose deployment
  scripts/cleanup_wordpress_pages.py
  wordpress/client.py
  wordpress/skyyrose-immersive.zip
  wordpress/upload_3d_models_to_wordpress.py
Due: none

feat(wordpress): WordPress.com API compatibility + SkyyRose deployment
  scripts/cleanup_wordpress_pages.py
  wordpress/client.py
  wordpress/upload_3d_models_to_wordpress.py
Due: none

test(security): add comprehensive NonceCache tests with 100% coverage
  tests/security/test_nonce_cache.py
Due: none

refactor(runtime): consolidate tool registries into core/runtime
  core/runtime/__init__.py
  core/runtime/tool_registry.py
  orchestration/tool_registry.py
Due: none

fix(tests): fix HuggingFace config test env var precedence
  tests/test_huggingface_3d.py
Due: none

feat(llm): create hexagonal architecture domain layer
  core/llm/__init__.py
  core/llm/domain/__init__.py
  core/llm/domain/models.py
  core/llm/domain/ports.py
Due: none
