Repository The-Skyy-Rose-Collection-LLC/DevSkyy: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, jest-collections

Path conditions:
  typescript-typecheck: any of: \.(ts|tsx)$
  jest-collections: any of: ^src/collections/.*\.(ts|tsx)$

chore: update Ralph progress for COLL-001
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
Due: none

feat: COLL-002 - BLACK ROSE Three.js integration
  src/collections/BlackRoseExperience.ts
  src/components/collections/BlackRoseCanvas.tsx
  src/components/collections/RotatingBlackRoseLogo.tsx
Due: typescript-typecheck, jest-collections

chore: update Ralph progress for COLL-002
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
Due: none

feat: COLL-003 - WordPress API product fetching
  api/wordpress.py
  src/hooks/useCollectionProducts.ts
Due: typescript-typecheck

chore: update Ralph progress for COLL-003
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
Due: none

feat: COLL-004 - Product grid with CSS parallax effects
  src/app/test/collections/page.tsx
  src/components/collections/ProductCard.tsx
  src/components/collections/ProductGrid.tsx
Due: typescript-typecheck

chore: update Ralph progress for COLL-004
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
Due: none

feat: COLL-005 - Luxury scroll animations
  frontend/app/test/collections/page.tsx
  frontend/app/test/layout.tsx
  frontend/components/collections/BlackRoseCanvas.tsx
  frontend/components/collections/CollectionLayout.tsx
  frontend/components/collections/ProductCard.tsx
  frontend/components/collections/ProductGrid.tsx
  frontend/components/collections/RotatingBlackRoseLogo.tsx
  frontend/components/collections/ScrollAnimatedSection.tsx
  frontend/hooks/useCart.ts
  frontend/hooks/useCollectionProducts.ts
  frontend/hooks/useScrollAnimation.ts
  frontend/types/collections.ts
  frontend/types/index.ts
  frontend/types/product.ts
  src/app/layout.tsx
  src/components/collections/ScrollAnimatedSection.tsx
  src/hooks/useScrollAnimation.ts
Due: typescript-typecheck

feat: COLL-006 + Sentry integration - SIGNATURE collection and monitoring
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
  frontend/app/collections/layout.tsx
  frontend/app/collections/signature/page.tsx
  frontend/collections/BaseCollectionExperience.ts
  frontend/collections/BlackRoseExperience.ts
  frontend/collections/HotspotManager.ts
  frontend/collections/LoveHurtsExperience.ts
  frontend/collections/ProductionHandlers.ts
  frontend/collections/RunwayExperience.ts
  frontend/collections/ShowroomExperience.ts
  frontend/collections/SignatureExperience.ts
  frontend/collections/__tests__/CollectionExperiences.test.ts
  frontend/collections/index.ts
  frontend/components/collections/SignatureCanvas.tsx
  frontend/config/index.ts
  frontend/config/threejs.config.js
  frontend/lib/ModelAssetLoader.ts
  frontend/lib/ThreePerformanceMonitor.ts
  frontend/lib/__mocks__/ModelAssetLoader.js
  frontend/lib/cart.ts
  frontend/lib/cartManager.ts
  frontend/lib/checkout.ts
  frontend/lib/index.ts
  frontend/lib/inventory.ts
  frontend/lib/materialSwapper.ts
  frontend/lib/priceUtils.ts
  frontend/lib/productInteraction.ts
  frontend/lib/stripeIntegration.ts
  frontend/lib/three/index.ts
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/sentry.client.config.ts
  frontend/sentry.server.config.ts
  frontend/utils/Logger.ts
  frontend/utils/__tests__/Logger.test.ts
  main_enterprise.py
  requirements.txt
  src/components/collections/SignatureCanvas.tsx
Due: typescript-typecheck

feat: COLL-007 - LOVE_HURTS collection page with Beauty and the Beast theme
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
  frontend/app/collections/love-hurts/page.tsx
  frontend/collections/LoveHurtsExperience.ts
  frontend/components/collections/LoveHurtsCanvas.tsx
  src/components/collections/LoveHurtsCanvas.tsx
Due: typescript-typecheck

feat: COLL-008 - Product quick-view modal
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
  frontend/components/collections/ProductGrid.tsx
  frontend/components/collections/ProductModal.tsx
  src/components/collections/ProductGrid.tsx
  src/components/collections/ProductModal.tsx
Due: typescript-typecheck

docs: update PRD and progress log for COLL-008
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
Due: none

feat: COLL-009 - Collection filtering and sorting
  frontend/app/collections/love-hurts/page.tsx
  frontend/app/collections/signature/page.tsx
  frontend/components/collections/FilterDrawer.tsx
  frontend/components/collections/FilterSidebar.tsx
  frontend/hooks/useProductFilters.ts
  src/components/collections/FilterDrawer.tsx
  src/components/collections/FilterSidebar.tsx
  src/hooks/useProductFilters.ts
Due: typescript-typecheck

docs: update PRD and progress log for COLL-009
  .ralph/prd-interactive-collections.json
  .ralph/progress.txt
Due: none
